<div id=content-container>
<div class="container" data-controller="toggle-map">
  <div id="carouselExampleAutoplaying" class="carousel slide content-container" data-bs-ride="carousel" data-toggle-map-target="list">
    <div class="carousel-inner ">
      <% @pubcrawls.each_with_index do |pubcrawl, index| %>
      <div class="carousel-item  <%= 'active' if index == 0 %>">
        <%= render "card", pubcrawl: pubcrawl %>
      </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="cards-dis" >
     <% @pubcrawls.each do |pubcrawl| %>
     <%= render "card", pubcrawl: pubcrawl %>
     <% end %>
  </div>
  <div style="width: 100%; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-toggle-map-target="map"
  class="d-none">
  </div>
  <div id="toggle-map" data-action="click->toggle-map#displayMap" data-toggle-map-target="button" class="btn btn-outline-dark">
    <i class="fa-solid fa-map"></i>
  </div>
  <%= link_to "My bookings", bookings_path, class: 'button-pink-invalid' %>
</div>

