<div class="container">
<br>
<%= link_to "Back to pubcrawls", pubcrawls_path, class:"go-back-button", style:"margin: 10px 0 0 10px;" %>
  <div style="display: flex; justify-content: center;">
    <%= cl_image_tag @pubcrawl.photo.key, class:"img-show" %>
  </div>
  <div style="display: flex; justify-content: center;">
    <div class="border"></div>
  </div>
  <div style="display: flex; justify-content: center;">
    <h1 class="title-pubcrawl-show"><%= @pubcrawl.name %></h1>
  </div>
  <p class="text-center" style="color: #EDEDED; margin: 0 10px 0 10px"><%= @pubcrawl.description %></p>
  <div style="margin-top: 10px;">
    <p class="text-center" style="color: white; text-decoration: underline; font-size: 20px">Last reviews :</p>
    <ul>
      <% @pubcrawl.reviews.each do |review|%>
      <li class="list-review">
        <p><strong> <%= review.rating %> / 10 - </strong><%= review.comment %></p>
      </li>
      <% end %>
    </ul>
  </div>
  <hr style="color: white">
  <div class="form-container">
    <%= simple_form_for [@pubcrawl, @event] do |f| %>
        <%= f.input :date,
                    label: "Select date",
                    as: :string,
                    input_html: {data: { controller: "datepicker"} },
                    label_html: { class: "white-label" } %>
        <%= f.submit "Join Event", class: "button-pink-valid center-button" %>
      <% end %>
  </div>

</div>
