<div class="container">
  <h1><%= @pubcrawl.name %></h1>
  <div>
    <p>Last reviews :</p>
    <ul>
      <% @pubcrawl.reviews.each do |review|%>
      <li>
        <p><strong> <%= review.rating %> / 10 - </strong><%= review.comment %></p>
      </li>
      <% end %>
    </ul>
  </div>
  <hr>
  <%= simple_form_for [@pubcrawl, @event] do |f| %>
    <%= f.input :date,
                label: "Select date",
                as: :string,
                input_html: {data: { controller: "datepicker"} } %>
    <%= f.submit class: "btn btn-update btn-hover-classic" %>
  <% end %>
  <%= link_to "Back to pubcrawls", pubcrawls_path, class:"btn btn-update btn-opposite btn-hover-classic" %>
</div>
