
<br>
  <div style="display: flex; justify-content: center;">
    <%= cl_image_tag @booking.event.pubcrawl.photo.key, class:"img-show", style:"margin-top: 70px" %>
  </div>
  <div style="display: flex; justify-content: center;">
    <div class="border"></div>
  </div>
  <div style="justify-content: center;" class="button-container">
    <h1><%= @booking.event.pubcrawl.name%></h1>
    <h1><%= Date.parse(@booking.event.date.to_s) %></h1>
  </div>
 <div style="display: flex; justify-content: center;">
    <div class="border"></div>
  </div>
  <div class="button-container">
    <p style="margin: 15px 5px 20px 5px">Your event is booked, ready to go ? </p>
    <div class="button-container">
      <%= link_to "Lets go !", event_path(@booking.event), class: 'button-pink-valid', style:"width: 75%; margin-bottom: 10px" %>
      <%= link_to "Not yet !", bookings_path, class: 'button-pink-invalid', style:"width: 75%" %>
      </div>
  </div>
