<div class="container text-center">
  <div class="container mt-3 p-2" style="border:1px solid white; border-radius:15px">
    <%= cl_image_tag @user.avatar.key, class:"avatar-profile"%>
    <p class="admin-style"><%= @user.nickname %></p>
    <p>-- <%= @user.email %> --</p>
    <p>-- <%= @user.description %> --</p>
  </div>
</div>
<div class="item-bot fixed-bottom">
  <%= link_to "Update profile", edit_user_registration_path, class: "btn btn-outline-light margleft", style:"width:60%;" %>
  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-outline-light margleft margright", style:"width:25%;" %>
</div>
