
<div class="container">
  <h1 style="font-weight: 600; text-align: center"><%= @event.pubcrawl.name%></h1>
  <h4 style="font-weight: 400; color: white; text-align: center"><%= @event.date.try(:strftime, "%Y-%m-%d") %></h1>
</div>
<div class="container live-event-banner">
  <div class="red-point"></div>
  <div class="live-event"><h2 style="color: white; text-shadow: 1px 1px 2px grey">LIVE EVENT</h2></div>
</div>
<div class="container" data-controller="map" data-map-status-value = "<%= @event.status %>" data-map-markers-value = "<%= @markers.to_json %>">
  <br>
  <h4 style="color:white; text-align: center">Notifications</h4>
  <div class="container-notif card-notif d-flex flex-column" data-map-target="containerNotif">
    <ul class="flex-grow-1">
      <li class='notification d-none' data-map-target="message1"><strong>09:00 PM</strong>- Meeting point, go to <%= @event.pubcrawl.first_bar.name %></li>
      <li class='notification d-none' data-map-target="message2"><strong>10.30 PM</strong> - Time to move to <%=  @event.pubcrawl.middle_bar.name %></li>
      <li class='notification d-none' data-map-target="message3"><strong>11:30 PM</strong> - Let's make our way to <%=  @event.pubcrawl.last_bar.name %></li>
    </ul>
    <div class="mt-auto">
      <div class="row w-100">
        <div class="col-4"><button class="button-invisible" data-action="click->map#addMessage1"></button></div>
        <div class="col-4" data-action="click->map#addMessage2 click->map#displayMarker2" ><%= button_to "",  event_path(@event), method: :patch, class: "button-invisible step-2", remote: true %></div>
        <div class="col-4" data-action="click->map#addMessage3 click->map#displayMarker3"><%= button_to "",  event_path(@event), method: :patch, class: "button-invisible step-3", remote: true %></div>
      </div>
    </div>
  </div>
    <div class="d-flex justify-content-center">
      <div class="circle" data-controller="animation" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
        <span class="circle__btn" data-animation-target="circle__btn">
          <i class="play fa-solid fa-dice fa-md" name="play" data-animation-target="play" data-action="click->animation#playBtn"></i>
          <i class="pause fa-solid fa-dice fa-md"  name="pause" data-animation-target="pause"></i>
        </span>
        <span class="circle__backone" data-animation-target="circle__backone"></span>
        <span class="circle__backtwo" data-animation-target="circle__backtwo"></span>
        </div>
    </div>
  <h4 style="color:white; text-align: center">Let's chat with your buddies !</h4>
  <div class="container chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>" data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
              <div class="message-row d-flex <%= if message.admin?(current_user) then 'justify-content-center' else message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' end %>">
          <div class="<%= if message.admin?(current_user) then 'admin-style' else message.sender?(current_user) ? 'sender-style' : 'receiver-style' end %>">
            <%= render "messages/message", message: message %>
          </div>
        </div>
      <% end %>
    </div>
    <%= simple_form_for [@event, @chatroom, @message], html: {data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex"} do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Type your message",
        wrapper_html: {class: "chat-input"}
      %>
      <%= f.submit "Send", class: 'button-pink-valid-send' %>
    <% end %>
  </div>
  <br>
  <h4 style="color:white; text-align: center">Meeting point</h4>
  <div data-map-target="map" data-map-url-value="<%=event_get_markers_url(@event)%>" data-map-status-value="<%= @event.status %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-toggle-map-target="map" style="height: 300px !important; width: 100%; margin-top: 15px; border: 0.5px solid white; border-radius: 15px;"></div>
  <br>
<p>Pubcrawlers</p>
  <div>
    <% @event.bookings.each do |booking| %>
      <% if booking.user.nickname != "MASTER" %>
         <div style="color:white" data-bs-toggle="modal" data-bs-target="#userModal-<%= booking.user.id %>">
      <%= cl_image_tag booking.user.avatar.key, class:"avatar" %>
       <%= booking.user.nickname %>
         <% if booking.people %>
          <strong>+</strong>
          <strong><%= booking.people %></strong>
          <% end %>
    </div>
      <!-- Modal -->
    <div class="modal fade" id="userModal-<%= booking.user.id %>" tabindex="-1" aria-labelledby="userModalLabel-<%= booking.user.id %>" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
          <div class="d-flex justify-content-center"><%= cl_image_tag booking.user.avatar.key, class: "avatar avatar-profile"%></div>
          <div class="d-flex justify-content-center title-game"><span class="text-center" style="font-size: 20px"><%= booking.user.nickname %></span></div>
          <div class="d-flex justify-content-center rules games"><%= booking.user.description %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
  <hr style="color: white">
    <div class="all-buton" style="justify-content: center">
      <%= link_to "Give a review", new_event_review_path(@event), class:"button-pink-invalid" %>
    </div>
  </div>
</div>
<br>
<div class="container p-2">
  <div id="image-slider"  style="display: flex; justify-content: center;">
    <% @event.reviews.each do |review| %>
      <% review.photos.each do |photo| %>
        <%= cl_image_tag photo.key, class: "card-notif", style: 'height: 300px; max-width: 98%; border-radius: 20px; margin-bottom: 5px; border: 0.5px solid white' %>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  // JavaScript code to create a basic image slider
  var slideIndex = 0;
  showSlides();

  function showSlides() {
    var i;
    var slides = document.querySelectorAll("#image-slider img");

    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }

    slideIndex++;

    if (slideIndex > slides.length) {
      slideIndex = 1;
    }

    slides[slideIndex - 1].style.display = "block";
    setTimeout(showSlides, 1500); // Change slide every 2 seconds
  }
</script>

<br>
<br>
<br>
<%= render "events/modale" %>
<script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
