<div class="container">
  <h1><%= @event.pubcrawl.name%></h1>
  <h4><%= @event.date%></h1>
  <hr style="color: white">
  <h2> LIVE EVENT</h2>
  <h3> Notifications </h3>
  <%= link_to "Come back a 9 pm !", pubcrawls_path, class: 'button-pink-valid' %>
  <hr style="color: white">
  <p>Members</p>
  <ul>
    <% @event.users.each do |user| %>
      <li><%= user.email %></li>
    <%end%>
  </ul>
  <hr style="color: white">
  <div>
    <p>Last reviews :</p>
    <div>
      <% @event.reviews.each do |review| %>
        <div>
          <% review.rating.times do %>
            <i class="fas fa-star" style="color: #fbff00;"></i>
          <% end %>
          <% (5 - review.rating).times do %>
            <i class="far fa-star"></i>
          <% end %>
          <p style="font-size: 15px"><%= review.comment %></p>
          <hr style="color: white">
        </div>
      <% end %>
    </div>
    <div class="all-buton">
    <%= link_to "All pubcrawls", pubcrawls_path, class: 'button-pink-invalid' %>
    <%= link_to "My bookings", bookings_path, class: 'button-pink-invalid' %>
    <%= link_to "Give a review", new_event_review_path(@event), class:"button-pink-invalid" %>
    </div>
  </div>
</div>
