
<div class="container">
  <h1 style="font-weight: 600; text-align: center"><%= @event.pubcrawl.name%></h1>
  <h4 style="font-weight: 400; color: white; text-align: center"><%= @event.date.try(:strftime, "%Y-%m-%d") %></h1>
</div>
<div class="live-event-banner">
  <div class="row">
    <div class="col-2 d-flex justify-content-end mt-3"><div class="red-point"></div></div>
    <div class="col-8 text-center mt-2"><h2 style="color: white; text-shadow: 1px 1px 2px grey;">LIVE EVENT</h2></div>
    <div class="col-2"></div>
  </div>
</div>
<div class="container">
  <br>
  <h4 style="color:white; text-align: center">Notifications</h4>
  <div class="container-notif card-category" data-controller="notification" data-notification-target="containerNotif">
    <ul data-target="container-notif.list">
      <% current_time = Time.current %>
      <% if current_time.hour == 10 && current_time.min == 36 %>
        <li class="notification">Notification pour 21h</li>
      <% elsif current_time.hour == 10 && current_time.min == 37 %>
        <li class="notification">Notification pour 22h</li>
      <% elsif current_time.hour == 10 && current_time.min == 38 %>
        <li class="notification">Notification pour 23h30</li>
      <% end %>
    </ul>
  </div>
  <br>
  <h4 style="color:white; text-align: center">Let's chat with your buddies !</h4>
  <div class="container chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>" data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
              <div class="message-row d-flex <%= if message.admin?(current_user) then 'justify-content-center' else message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' end %>">
          <div class="<%= if message.admin?(current_user) then 'admin-style' else message.sender?(current_user) ? 'sender-style' : 'receiver-style' end %>">
            <%= render "messages/message", message: message %>
          </div>
        </div>
      <% end %>
    </div>
    <%= simple_form_for [@event, @chatroom, @message], html: {data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex"} do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Type your message",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: 'button-pink-valid' %>
    <% end %>
  </div>
  <br>
  <h4 style="color:white; text-align: center">Meeting point</h4>
    <div data-controller="map" data-map-status-value= "<%=@event.status%>" data-action="click=>map#update" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-toggle-map-target="map", style="height: 300px !important; width: 100%;margin-top: 15px;border: 0.5px solid white;border-radius: 15px;"></div>
  <br>
  <p>Members</p>
  <ul>
    <% @event.users.each do |user| %>
      <% if user.nickname != "MASTER" %>
        <li style="list-style: none; color:white"> <%= cl_image_tag user.avatar.key, class:"avatar" %> <%= user.nickname %></li>
        <%end%>
    <%end%>
  </ul>
  <hr style="color: white">
  <div>
    <p>Last reviews :</p>
    <div>
      <% @event.reviews.each do |review| %>
        <div>
          <% review.rating.times do %>
            <i class="fas fa-star" style="color: #fbff00;"></i>
          <% end %>
          <% (5 - review.rating).times do %>
            <i class="far fa-star" style="color: white"></i>
          <% end %>
          <p style="font-size: 15px"><%= review.comment %></p>
          <hr style="color: white">
        </div>
      <% end %>
    </div>
    <div class="all-buton" style="justify-content: center">
      <%= link_to "Give a review", new_event_review_path(@event), class:"button-pink-invalid" %>
    </div>
  </div>
</div>
<br>
<br>
<br>
