<div class="container p-3">
  <h1>Pubcrawl in Town</h1>
  <hr>
  <h2>Where are you looking to party ?</h2>
  <div class="cards-city p-30">
     <div class="row mb-2">
      <div class="col-6">
        <%= link_to pubcrawls_path(location: 'Paris'), style: "text-decoration: none" do %>
          <div class="card-city">
            <%= image_tag "icons8-eiffel-tower-100.png", alt: "Paris" %>
            <div class="card-city-name">
              <h2>Paris</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-6">
        <%= link_to pubcrawls_path(location: 'Madrid'), style: "text-decoration: none" do %>
          <div class="card-city">
            <%= image_tag "icons8-holiday-100.png", alt: "Madrid" %>
            <div class="card-city-name">
              <h2>Madrid</h2>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-6">
        <%= link_to pubcrawls_path(location: 'Barcelone'), style: "text-decoration: none" do %>
          <div class="card-city">
            <%= image_tag "icons8-beach-volleyball-100.png", alt: "Barcelone" %>
            <div class="card-city-name">
              <h2>Berlin</h2>
            </div>
          </div>
        <% end%>
      </div>
      <div class="col-6">
        <%= link_to pubcrawls_path(location: 'Londres'), style: "text-decoration: none" do %>
          <div class="card-city">
            <%= image_tag "icons8-big-ben-100.png", alt: "Londres" %>
            <div class="card-city-name">
              <h2>Londres</h2>
            </div>
          </div>
        <% end %>
      </div>
    </div>
     <div class="row mb-2">
      <div class="col-6">
        <%= link_to pubcrawls_path(location: 'Seville'), style: "text-decoration: none" do %>
          <div class="card-city">
            <%= image_tag "icons8-tapas-100.png", alt: "Seville" %>
            <div class="card-city-name">
              <h2>Seville</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-6">
        <%= link_to pubcrawls_path(location: 'Rome') do %>
          <div class="card-city">
            <%= image_tag "icons8-pizza-100.png", alt: "Rome" %>
            <div class="card-city-name">
              <h2>Rome</h2>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
