<a href="https://zupimages.net/viewer.php?id=23/26/18io.png"><img src="https://zupimages.net/up/23/26/18io.png" alt="" class="logo-home"/></a>
<h1 style="font-weight: 900; text-align: center">PUBCRAWL IN TOWN</h1>
<hr style="color: white">
<div class="container form-login">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <h2>Log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "btn btn-outline-light" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
